
{{#if error}}
<p>Lo lamento {{nombre}} no pudimos registrar tu respuesta por algun problema de conexion o ya tenemos un registro con el correo {{correo}}</p>
{{else}}
<p>Hola {{nombre}}, tus respuestas fueron registradas y muy pronto te enviaremos un mensaje para que conozcas los resultados de las personas con las que compartes interéses al correo ({{correo}}), Muchas Gracias por responder esta encuesta!</p>
{{/if}}